<p>This is the partial for books detail.</p>

<div>
    <div>
        <h3>{{detailCtrl.booksDetail.title}} <small>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].Formats[detailCtrl.fidx].format}} - {{detailCtrl.booksDetail.Editions[detailCtrl.eidx].published | date:'MMMM d, y'}}</small></h3>
        <div>
            <span>by {{detailCtrl.jointAuthors}}</span>
        </div>
    </div>
    <div>
        <span class="btn btn-link" ng-click="editions = !editions" ng-show="detailCtrl.links.length > 1">See more formats and editions</span>
        <ul ng-show="editions">
            <li ng-repeat="link in detailCtrl.links">
                <a ui-sref="books.detail({ eidx: link.eidx, fidx: link.fidx })">{{link.format}} - Ed.{{link.edition}}, {{link.published | date:'MMMM d, y'}}</a>
            </li>
            <li><a>Add another edition</a></li>
        </ul>
    </div>
    <div>
        <span>{{detailCtrl.booksDetail.description}}</span>
    </div>

    <!--
    <div><span><a ui-sref="edit">Edit title and description</a></span></div>
    <div ui-view="edit"></div>
    -->
    <div>
        <h3>Edition details</h3>
        <div>
            <span class="text-capitalize"><strong>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].Formats[detailCtrl.fidx].format}}: </strong></span>
            <span>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].pages}} pages</span>
        </div>
        <div>
            <span><strong>Publisher: </strong></span>
            <span>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].publisher}}</span>
            <span>({{detailCtrl.booksDetail.Editions[detailCtrl.eidx].published | date:'MMMM d, y'}})</span>
        </div>
        <div>
            <span><strong>Language: </strong></span>
            <span>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].editionLanguage}}</span>
        </div>
        <div>
            <span><strong>ISBN-10: </strong></span>
            <span>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].isbn}}</span>
        </div>
        <div>
            <span><strong>ISBN-13: </strong></span>
            <span>{{detailCtrl.booksDetail.Editions[detailCtrl.eidx].isbn13}}</span>
        </div>
        <div><span><a>Edit edition details</a></span></div>
    </div>
</div>
